.App {
  text-align: center;
  color: white;
position: relative;
  min-height: 96vh;

}
.content-wrap {
  padding-bottom: 1rem;    /* Footer height */
    margin-left: 10%;
  margin-right: 10%;
}

.Footer {
position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem; 
}

p {
  font-size: 2em;

}
h1 {
  color: #FFC000;
}